<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <title>Spring framework guru</title>
</head>

<body>


<h1>Author list.</h1>
<table>
    <tr>
        <td>id</td>
        <td>first name</td>
        <td>last name</td>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">John</td>
        <td th:text="${author.lastName}">Gilenhall</td>
    </tr>
</table>

</body>
</html>
